body{
    margin: auto;
    box-sizing: border-box;
    background-color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid rgb(184, 181, 181);

}

h1 a{
    color: red;
    font-size: 56px;
    text-decoration: none;
    margin: 0;
}
h1{
    margin: 0;
}
.btn a{
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
}
.btn{
    border: none;
    background-color: transparent;
}
.title {
    padding: 17px 40px;
    display: flex;
    flex-direction: column;
    gap: 3px 0px;
    font-family: sans-serif;
}
.title h2{
    margin: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 20px 15px;
    padding: 20px 40px;
    justify-content: center;
}
.grid-item{
    height: 100%;
    border: 1px solid rgb(140, 136, 136);
    border-radius: 10px;
    padding: 7px;
}
.title-body{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px 0px;
    font-family: sans-serif;
    border-radius: 10px;
    margin-bottom: 17px;
    background: linear-gradient(160deg, rgb(31, 49, 184), rgb(20, 52, 194),rgb(43, 93, 231));
}

.title-body-two{
    background: linear-gradient(150deg, rgb(31, 49, 184), rgb(20, 52, 194),rgb(144, 89, 226));
}
.title-body-three{
    background: linear-gradient(135deg, rgb(31, 49, 184), rgb(20, 52, 194),rgb(100, 14, 228));
}
.title-body-four{
    background: linear-gradient(140deg, rgb(31, 49, 184), rgb(20, 52, 194),rgb(252, 9, 21));
}
.title-body h4{
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}
.title-body p{
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
.content-one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0px;
    border-bottom: 1px solid gray;
    font-family: sans-serif;
    gap: 5px 0px;
    width: 90%;
    margin: auto;
}
.content-one p{
    font-size: 13px;
    color: gray;
    margin: 0;
    font-weight: 600;
}
.content-one h4{
    font-size: 14px;
    margin: 0;
    color: rgb(99, 97, 97);
}
.foot{
    border: none;
}
.grid-item h5{
    background-color: red;
    color: #fff;
}
.next-btn{
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    width: 85%;
    height: 40px;
    padding: 8px;
    border: none;
    background-color: red;
    width: 40%;
    margin:10px auto;
    border-radius: 5px;  
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.next-btn a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}
.conclusion-statement{
    padding: 13px 40px;
}
.conclusion-statement p{
    color: #727272;
    font-size: 13px;
    line-height: 1.7;
    font-weight: 500;
    font-family: sans-serif;
}
footer{
    font-family: "Inter", sans-serif;
    padding: 16px 0px 16px 50px;
    background-color: rgb(248, 249, 250);
    margin-top: 90px;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.group-one-links, .group-two-links{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.footer-links li, h6 a{
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    padding: 8px 0px;
}
.footer-links li a, h6 a{
    color: #716e6e;
    text-decoration: none;
}
@media screen and (max-width:1024px) {
.grid-container{
    grid-template-columns: auto auto;
    padding: 15px 30px;
    justify-content: center;
    gap: 30px 15px;
}
/* .content-one{
    flex-direction: row;
    justify-content: space-between;
} */
 }

 @media screen and (max-width:758px) {
    .grid-container{
        grid-template-columns: 100%;
        padding: 10px 20px;
    }
    .conclusion-statement{
        padding: 10px 20px;
    }
    .title{
        padding: 10px 20px;
    }

    .next-btn{
        width: 95%;
    }
    nav{
        padding: 10px;
    }
    h1 a{
        font-size: 30px;
    }
    .group-one-links, .group-two-links{
        display: block;
    }
    .footer-links li{
        font-size: 13px;
        padding: 10px 0px;
    }
    footer{
        padding: 20px 0px 20px 20px;
    }
    .footer-nav{
        width: 85%;
    }

 }
